[2015-04-16 05:03] natsteinmetz opened #27 "Fix styling of hamburger dropdown in mobile view"
* links should appear underneath the hamburger icon
* there should be a box behind it, with a background, which will make the links better visible and not directly overlaid over the text & images of the content.

[2015-04-16 09:09] natsteinmetz opened #30 "Make categories on Resources page responsive."

[2015-04-16 11:00] natsteinmetz opened #31 "Make categories stay in the sidebar, even when scrolling further down."

[2015-04-16 18:52] #30 closed

[2015-04-16 18:52] natsteinmetz commented on #30
The issue was related to the navbar issue #27

[2015-04-16 18:59] natsteinmetz opened #32 "Transition between empty and full hearts fails (full hearts don't show up)"

[2015-04-16 19:00] natsteinmetz commented on #32
@khjrtbrg Is this something you can fix until tomorrow evening?

[2015-04-16 21:46] tenchijayp opened #33 "horizontal scroll on mobile portrait display"
Looks like there is a margin/padding issue on mobile portrait display where it's allowing horizontal scroll.

**OS:** Android 5.1
**Browser:** Chrome (stock browser), FireFox, Dolphin browser (all latest builds)

[2015-04-16 21:50] tenchijayp commented on #33
Hi Nathalie, I'm part of Geoff's mobile learning team at Qualcomm - I'll add any bugs/issues I see on this repository.

[2015-04-16 21:51] tenchijayp commented on #27
It looks like the menu items are showing on page load, instead of the expected behavior of being hidden until the user taps on the hamburger button as well.

[2015-04-16 22:00] tenchijayp opened #34 "footer text styling on mobile phone"
(enhancement)
Footer text for both portrait and landscape view on mobile phone looks awkward - attached screenshot below. Looks good on iPad but for mobile phone displays perhaps making the font smaller to fit two lines for portrait and one for landscape view would be better.

![screenshot_2015-04-16-14-54-21](https://cloud.githubusercontent.com/assets/356679/7192283/ee543876-e448-11e4-96c8-bed59c

[2015-04-16 22:10] tenchijayp opened #35 "Infinite click on heart allowed on resources page"
Looks like there isn't a limitation for how many times a user can tap/click on the heart for articles in the resources section.

**OS:** Android 5.1, Windows 7, iOS 8.2
**Browser:** Chrome (stock browser), FireFox, Dolphin browser (all latest builds), Win7 Chrome, iOS Safari
**Site tested:** http://shescoding-wamuq6fved.elasticbeanstalk.com/resources

[2015-04-16 22:16] tenchijayp opened #36 "Wrong location of popover display on mobile"
Tapping on the images on Team page (of cute kittens for now) displays the popover text way below where it should be.  Works fine on Chrome on Win7, iOS Safari but same wrong behavior happens on Android browsers.

**OS:** Android 5.1
**Browser:** Chrome (stock browser), FireFox, Dolphin browser (all latest builds)
**Page tested:** http://shescoding-wamuq6fved.elasticbeanstalk.com/team

[2015-04-16 23:32] natsteinmetz commented on #36
@brigid2718 Is this something you could fix?

[2015-04-17 01:45] natsteinmetz commented on #33
Hi @tenchijayp, nice meeting you this way, and thanks for adding your bugs/issues today!

[2015-04-17 02:45] khjrtbrg commented on #32
I'll take a look!

[2015-04-17 02:54] natsteinmetz commented on #32
Oh, you already saw it! I just mentioned it in my email ;) Thanks for having a look at it!

[2015-04-17 03:08] natsteinmetz commented on #27
Fixed by #37

[2015-04-17 03:08] #27 closed

[2015-04-17 03:46] khjrtbrg commented on #32
This should be fixed by [this PR](https://github.com/shescoding/shescoding-dot-org/pull/38).

[2015-04-17 03:52] #32 closed

[2015-04-17 04:02] natsteinmetz commented on #32
@khjrtbrg It is fixed, yes. Well done! :)

[2015-04-17 04:06] geoffstead opened #39 "Resources Tag Filtering: needs a heading"
if I click a tag in the resources page (like "learning"), it filters to only learning resources, but there is no header / message to tell you you have filtered. It needs something to say "filtered on: learning"

(if not, the page looks misleadingly like you are on "all resources")

[2015-04-17 04:09] geoffstead opened #40 "weird wrapping on long resources label in chrome / mac"
![image](https://cloud.githubusercontent.com/assets/2299032/7195902/ba9401a4-e47c-11e4-8837-11bdfca4e6c4.png)

[2015-04-17 04:17] geoffstead opened #41 "Footer hyperlinks (fb, twitter, etc) should open a new window"
All the resources links open a new window, but the ones on the footer don't.

Is this by design?

it feels inconsistent. I'd vote for all external links in a new window, but happy to go with whatever the designers planned for

[2015-04-17 04:19] natsteinmetz commented on #41
Good point @geoffstead , no, this is not by design, they should indeed all open in a new tab.

[2015-04-17 10:02] JessWakelin opened #42 "Resources - alphabetical order"
It would be nice if the list was alphabetical as it would be easier for the eye to scroll down: http://shescoding-wamuq6fved.elasticbeanstalk.com/resources

Career Advancement
Diversity
Education
Gaming
Hiring
Kids
Leadership
Local
Mentorship
Negotiations
Networking
Online Classes
Podcasts/YouTube Channels
Research/White Papers
Sexism
Statistics
Workshops

[2015-04-17 10:03] Videhi opened #43 "Sharing Articles"
1) Click an article here:  http://shescoding-wamuq6fved.elasticbeanstalk.com/resources
2) The corresponding article page opens up (Currently, it shows test data)
3) I couldn't find a means to share the article like a Twitter/LinkedIn button. Please do provide them to enhance traffic.

Or are these articles supposed to be external articles? If yes, I would presume sharing is left to the external si

[2015-04-17 10:18] Videhi opened #44 "Sharing Articles"
1) Click an article here:  http://shescoding-wamuq6fved.elasticbeanstalk.com/resources
2) The corresponding article page opens up (Currently, it shows test data)
3) I couldn't find a means to share the article like a Twitter/LinkedIn button. Please do provide them to enhance traffic.

[2015-04-17 10:26] Videhi opened #45 "Get Involved page - Incorrect output format"
http://shescoding.org/get-involved/

I have entered few details on this form and submitted it. I get a confirmation page with the same information as the actual input form.

Expected behavior: Ideally, it can be a simple confirmation message saving the User details. I wouldnt want to see the all fields displayed again intertwined with my input data.

![getinvolved](https://cloud.githubusercontent.

[2015-04-17 10:38] Videhi opened #46 "Need a better contrast"
I like the idea of these boxes displaying the count down of days, but somehow - the contrast seems pretty weak and suddenly, it doesn't really distinguish with black background.

Just a suggestion  - turn the boxes grey and turn the numbers black.

![dates](https://cloud.githubusercontent.com/assets/11992207/7200576/3ecf80a0-e4f6-11e4-86ce-6de1ba6cc7bf.jpg)

[2015-04-17 10:43] Videhi opened #47 "Links should open in new tab"
I noticed that the links of supporting firms do not open in a new tab, it will be helpful if we can.

![supportedby](https://cloud.githubusercontent.com/assets/11992207/7200636/d8006564-e4f6-11e4-9f33-7408c9433be7.jpg)

[2015-04-17 10:49] Videhi opened #48 "Hidden Subscribe button"
I notice that the Follow (subscribe) option is pushed to the far end corner of the page, and is barely visible. It will be helpful to make it a bit more visible.

Just a suggestion - you may bring it up on par with Like us, Follow us...

![subscribe](https://cloud.githubusercontent.com/assets/11992207/7200728/a13b9926-e4f7-11e4-9f81-355e808a19a0.jpg)

[2015-04-17 10:51] JessWakelin opened #49 "Team info pop up"
I was wondering if you thought about the photos or name being pressed and the information appearing rather than scrolling and it appearing?

[2015-04-17 11:02] JessWakelin commented on #46
Great idea to promote the launch!
Maybe on the new site it could be a 'splash page' before going to the home page appears or have the countdown at the top of the page in the header?

even though its in two days :)

[2015-04-17 11:30] JessWakelin opened #50 "Contact us emails addresses"
I've read the text 'Want to learn more or be a part of the she’s coding team?'  - I made the decision to press Contact us. [[http://shescoding-wamuq6fved.elasticbeanstalk.com/how]]

When i press on Contact us on this page, it takes me to the Connect page. I then press Contact us via email: She's Coding and opens up my mail with nathalie@shescoding.org

two comments
1) I would make the contact us a

[2015-04-17 11:33] Videhi opened #51 "Classification of resources"
http://shescoding-wamuq6fved.elasticbeanstalk.com/resources

I think, these are a great list of resources but with different ends to meet. It may be good to classify them based on how they help the users:

For instance, here's a suggestion to classify and group them:

Learn and take action:
Online Classes
Workshop
Education
Podcasts/Youtube Channels

Read and get inspired:
Mentorship
Negotiations

[2015-04-17 11:42] JessWakelin commented on #51
Also alphabetical lists under each group :)

[2015-04-17 11:48] JessWakelin opened #52 "Podcast/Youtube channel text in arrow"
When i press on Podcasts/YouTube Channels it doesnt fit well in the arrow. See attached screenshot.
Can you make channels inline with podcasts?
![title_in_arrow copy](https://cloud.githubusercontent.com/assets/11992232/7201470/6e627aee-e4ff-11e4-8a73-992b248452e9.png)

Mac > Chrome/firefox full screen layout

[2015-04-17 11:49] JessWakelin opened #53 "Resources list to be displayed as a drop down list"
Better UI would be to change list to a dropdown menu

![dropdown copy](https://cloud.githubusercontent.com/assets/11992232/7201524/159b8ba2-e500-11e4-938f-46f04887c57b.png)

[2015-04-17 12:11] Videhi commented on #41
Same comment applicable on Samsung S4 as well.

[2015-04-17 12:21] JessWakelin opened #54 "iPad mini: footer on Connect page"
Is there a way to ensure the footer is based at the bottom?

On the others pages there's more content and so the footer appears at the bottom
![ipad_minicopy](https://cloud.githubusercontent.com/assets/11992232/7201902/9f115d22-e504-11e4-8d6f-e0e4ee6b4e9c.jpg)

(sorry i was having issues taking a screenshot from the ipad - took photo using phone)

[2015-04-17 12:24] Videhi opened #55 "Samsung S4 - Unaligned elements"
On the home screen, the elements towards the very bottom don't seem aligned to me. It may be a good idea to left or center align the 2nd and 3rd lines.

![screenshot_2015-04-17-13-11-21](https://cloud.githubusercontent.com/assets/11992207/7201908/bcd8595a-e504-11e4-8f1f-9684b280e995.png)

[2015-04-17 12:27] Videhi opened #56 "Samsung S4 - Links don't open a new page"
http://shescoding-wamuq6fved.elasticbeanstalk.com/how

None of the highlighted links open a new window/page. It can get tedious to keep tapping back to get back to home screen.

![screenshot_2015-04-17-13-14-01](https://cloud.githubusercontent.com/assets/11992207/7201936/344dc808-e505-11e4-86b6-bc24ccb6ed1c.png)

[2015-04-17 12:32] Videhi opened #57 "Samsung S4 - Team details mismatch"
http://shescoding-wamuq6fved.elasticbeanstalk.com/team

Please see more details in the screenshot.

![screenshot_2015-04-17-13-16-42](https://cloud.githubusercontent.com/assets/11992207/7202031/32432b10-e506-11e4-8c0a-48b60365d4e5.png)

[2015-04-17 12:47] Videhi commented on #53
Samsung S4 - Resources multi-selection

This tagging/word cloud sort of interface is fine, but may not give flexibility to select multiple categories at once. Also, a sort of drop-down list might help reduce the noise..its kinda traffic heavy to eyes…

![screenshot_2015-04-17-13-15-46](https://cloud.githubusercontent.com/assets/11992207/7202234/4b77e57e-e508-11e4-98d9-e22f5b24d6ea.jpg)

[2015-04-17 15:34] geoffstead commented on #36
also in full chrome (not just the android stock browser)

[2015-04-17 15:36] geoffstead opened #58 "Footer hyperlinks (fb, twitter, etc) should open a new window"
All the resources links open a new window, but the ones on the footer don't.

Is this by design?

it feels inconsistent. I'd vote for all external links in a new window, but happy to go with whatever the designers planned for

[2015-04-17 15:37] geoffstead opened #59 "HTC One: Circles around "About" kittens are square"
Stock android browser, HTC One
(this also shows other error. I tapped the top kitten, text popup aligned with bottom one)
![image](https://cloud.githubusercontent.com/assets/2299032/7205267/f7eea648-e4dc-11e4-8b63-4575e981f227.png)

[2015-04-17 15:40] geoffstead opened #60 "Home page too wide for mobile chrome (HTC One)"
Only on the home page, the width is too wide. See menu button. The page can be slid a few pixels left and right. (Chrome on HTC One. Not in stock browser. that looks fine)
![image](https://cloud.githubusercontent.com/assets/2299032/7205307/42081cd2-e4dd-11e4-90fc-63dbcf7d91e3.png)

[2015-04-17 15:41] geoffstead commented on #34
I was about to add this one, and you got there first! It does look quite awkward. Agreed!

[2015-04-18 16:39] brigid2718 commented on #36
Working on this now!

On Fri, Apr 17, 2015 at 8:34 AM, geoff stead <notifications@github.com>
wrote:

[2015-04-18 21:45] natsteinmetz commented on #57
Fixed by #61 #62 and #64 . Tapping now links to the LinkedIn page of the person. When getting back to this tab, the tooltip is shown at the right place.

A better solution might be to on tap show the tooltip, and let the user tap on the name to get the LinkedIn profile. We can change that in the future.

[2015-04-18 21:47] #57 closed

[2015-04-18 21:49] natsteinmetz commented on #49
Yeah, we need to overthink the team page on mobile, as it is hard to make the current design work well on mobile.

[2015-04-18 21:59] natsteinmetz commented on #36
Fixed by #61 and #62.

[2015-04-18 21:59] #36 closed

[2015-04-18 22:07] natsteinmetz commented on #58
Fixed by #65

[2015-04-18 22:07] #58 closed

[2015-04-18 22:07] natsteinmetz commented on #56
Fixed by #65

[2015-04-18 22:07] #56 closed

[2015-04-18 22:45] natsteinmetz commented on #59
Fixed by #66

[2015-04-18 22:45] #59 closed

[2015-04-18 23:12] natsteinmetz commented on #51
@JessWakelin Hey Jess, this is a great suggestion! I'll see with our designer how we can make something like this possible. P.S. alphabetization will be implemented today. :)

[2015-04-19 04:00] natsteinmetz commented on #48
Thanks @Videhi for checking our site for bugs. This wordpress blog is as of now not reachable anymore, it has been replaced by the real site that is being launched tonight/tomorrow. Sorry this wasn't clearer before!

[2015-04-19 04:00] #48 closed

[2015-04-19 04:00] #47 closed

[2015-04-19 04:01] natsteinmetz commented on #46
:D Sorry, I didn't think of doing anything like that. Might have been a good idea though...

[2015-04-19 04:01] #46 closed

[2015-04-19 04:01] #45 closed

[2015-04-19 04:02] natsteinmetz commented on #44
@Videhi Yes, this is a feature we have planned for the (hopefully) close future. Thanks! :)

[2015-04-19 04:04] #43 closed

[2015-04-19 04:05] natsteinmetz commented on #42
Fixed in #67.

[2015-04-19 04:05] #42 closed

[2015-04-19 04:06] natsteinmetz commented on #41
Fixed in #65.

[2015-04-19 04:06] #41 closed

[2015-04-19 04:18] natsteinmetz commented on #52
Duplicate of #40 .

[2015-04-19 04:18] #52 closed

[2015-04-19 04:20] natsteinmetz commented on #55
Duplicate of #34

[2015-04-19 04:20] #55 closed

[2015-04-19 20:23] natsteinmetz opened #72 "'Retaining Women' category appears twice"

[2015-06-19 03:12] natsteinmetz commented on #50
This has been updated in the meanwhile, it still goes to the 'Connect' page, but the email address there is info@shescoding.org. The goal is to have a form on the 'Connect' page instead of the email - this is still in implementation, but will be updated soon.

[2015-06-19 03:12] #50 closed

[2015-06-19 03:14] natsteinmetz commented on #72
Fixed by #73

[2015-06-19 03:14] #72 closed

[2015-06-20 01:47] Eiseldora opened #77 "Broken Links"
Female Attrition, Retention and Barriers to Careers in SET Academic Research
http://www.wisecampaign.org.uk/files/useruploads/files/resources/female_attrition,_retention_and_barriers_to_careers_report_08_12_09.pdf

Girl Geek Dinners
http://girlgeekdinners.com/

A Question of Belonging: Race, Social Fit, and Achievement
https://web.stanford.edu/~gwalton/home/Resources_files/Walton%20%26%20Cohen-A%2

[2015-06-20 02:48] tuckerd commented on #77
Question of Belonging: Race, Social Fit, and Achievement is now located at: http://gregorywalton-stanford.weebly.com/uploads/4/9/4/4/49448111/walton_&_cohen-a_question_of_belonging.pdf

[2015-06-20 02:57] tuckerd commented on #77
Female Attrition, Retention [...] now located at https://www.wisecampaign.org.uk/uploads/wise/files/archive/female_attrition__retention_and_barriers_to_careers_report_08_12_09.pdf

[2015-08-22 19:42] probinson2015 commented on #77
@natsteinmetz
Can you assign this to me please? I have fixed the links on my own local code but the way the code is setup, it is actually duplicating the resource since the url is 'new'. I'd like to discuss what I think could fix the issue.

[2016-06-15 22:24] natsteinmetz opened #88 "Main navigation bar height doubles when reducing screen size"
When reducing the screensize a bit, the navigation bar height doubles because the nav links pop into a second row underneath the logo. This is a transition phase between regular view and mobile view (with hamburger symbol). When this happens the mentorship page title disappears. This is the only affected page, probably because it doesn't have a header image like the others.

<img width="821" alt="

[2017-03-14 21:11] charissayj89 opened #93 "Connect link on team page redirects to shescoding.org/contact instead of shescoding.org/connect"
In the Placeholder Kitten section of the team page the connect link is white, making it unreadable. The link also goes to shescoding.org/contact instead of shescoding.org/connect.

Image attached for reference:
![placeholder](https://cloud.githubusercontent.com/assets/14130671/23922582/240a4080-08c0-11e7-81fe-4f548873af58.png)

[2017-04-01 18:46] brisourceful opened #95 "Imposter Syndrome Resource Links to 404"
The imposter syndrome resource from CalTech links to 'page not found' on CalTech's website.

[2017-05-22 05:17] bambery commented on #95
Can you post the link here? If it actually sends an error code, or some sort of parseable xml response, possibly we could run a script at like 2am once a day to see if our links return 404, and deal with them then. People have server outages, and have urls redirect as the site structure changes, so we don't want to be too aggressive, but I think we could build something small.

[2017-06-02 22:28] OlenaRogalska opened #99 "outdated event on resources page"
![screen shot 2017-06-02 at 3 25 14 pm](https://cloud.githubusercontent.com/assets/28667320/26747031/09b23a9a-47a8-11e7-9884-8ab6a55d8fa7.png)

[2017-06-02 22:53] OlenaRogalska opened #100 "The 403 (Forbidden) status for Code for Seattle event"
![screen shot 2017-06-02 at 3 49 48 pm](https://cloud.githubusercontent.com/assets/28667320/26747571/8a01a8ea-47ab-11e7-8e65-e25c1b5f966f.png)

[2017-06-02 23:11] OlenaRogalska opened #101 "Missing text/link in The Placeholder Kitten form on Team page"
Missing test/link after words "go ahead and".
![screen shot 2017-06-02 at 4 07 14 pm](https://cloud.githubusercontent.com/assets/28667320/26747882/bc60b932-47ad-11e7-846e-c58397982881.png)

[2017-06-02 23:25] OlenaRogalska opened #102 "Invalid links to LinkedIn profile on Team page."
Steps for reproduce:
Click on "Mark S. Lee" image link.
Result: "Profile Not Found/Profile not available " message from LinkedIn website is displayed.
![screen shot 2017-06-02 at 4 18 19 pm](https://cloud.githubusercontent.com/assets/28667320/26748181/4d8a9b92-47b0-11e7-83a8-8e8754f7a41d.png)

Same step to reproduce and same result for "Robin Hauser Reynolds" image link.
![screen shot 2017-06-02 a

[2017-06-22 22:03] OlenaRogalska opened #103 "Invalid link to resource "Tynker""
Invalid url "http://shescoding.org/www.tynker.com"

Steps to reproduce: 1) navigate to http://shescoding.org/resources page
2)click on Tynker resource window
![screen shot 2017-06-22 at 2 58 18 pm](https://user-images.githubusercontent.com/28667320/27458005-ae96581c-575b-11e7-9251-f12fae2ba746.png)

Actual result:
![screen shot 2017-06-22 at 3 00 33 pm](https://user-images.githubusercontent.com/28

[2018-04-28 22:49] natsteinmetz opened #109 "On the 'How' page, remove the link to the Google group, which will be discontinued."

[2018-04-28 23:02] natsteinmetz opened #110 "'How' page: change the last sentence to "Connect with us via email, join our Slack channel or check out Trello boards or Github repository.""

[2018-04-28 23:05] natsteinmetz opened #111 "'How' page: Instead of linking to shescoding.slack.com, link to our Typeform which allows people to sign up for slack: https://shescoding.typeform.com/to/fcSCQs"

[2018-04-28 23:25] devinyr commented on #109
Hi Nathalie, I am going to fix this issue. Devi

[2018-04-28 23:34] seadev commented on #111
I will take this task @natsteinmetz.

[2018-07-14 03:28] jadefaerie commented on #109
Hi @devinyr ! Are you still planning to fix this? Thanks!

[2018-07-14 03:31] jadefaerie commented on #111
Hi @seadev! Are you still planning to do this? Thanks!

[2018-07-14 03:33] jadefaerie commented on #101
Fixed with check in https://github.com/shescoding/shescoding-dot-org/pull/115

[2018-07-14 03:33] #101 closed

[2018-07-17 16:23] jadefaerie commented on #109
Awesome, thanks! I'll close this out then!

[2018-07-17 16:23] #109 closed

[2018-07-18 03:14] jadefaerie commented on #111
I see the change! Thanks so much, we'll get this deployed asap!

[2018-07-18 03:14] #111 closed

[2018-07-18 03:16] #110 closed

[2018-07-18 03:17] jadefaerie commented on #60
Home page revamped!

[2018-07-18 03:17] #60 closed

[2018-07-18 03:24] jadefaerie commented on #34
Fixed!

[2018-07-18 03:24] #34 closed

[2018-07-18 04:03] jadefaerie opened #116 "Require HTTPS"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-10-15 02:29] cherchezlafemme commented on #102
Will be fixed with release of new updated Team page. Thank you for reporting the issue!

[2018-10-15 15:43] cherchezlafemme commented on #102
Went to production on 10/15/2018.

[2018-10-15 15:43] #102 closed

[2018-10-15 19:07] cherchezlafemme commented on #116
@jadefaerie can you provide more information to what this ticket is? do you mean all links to external sites should be https or something else?

[2018-10-15 20:06] natsteinmetz commented on #116
@cherchezlafemme This is referring to enabling https for our site. We currently don't have an SSL certificate attached to the site. This can currently only be done by me or @jadefaerie.

[2018-10-23 15:46] cherchezlafemme commented on #49
https://github.com/shescoding/shescoding-dot-org/projects/1#card-14110392

[2018-10-24 22:03] natsteinmetz commented on #100
Invalid url, update to: https://www.meetup.com/openseattle/

Steps to reproduce: 1) navigate to http://shescoding.org/resources page
2)click on Code for Seattle resource window.

[2018-10-24 22:29] natsteinmetz commented on #44
This is in PR #85

[2018-10-24 22:31] natsteinmetz commented on #35
This is in PR #87

[2018-10-24 22:36] natsteinmetz commented on #33
Can be replicated on the /team page only.

[2018-10-24 22:38] natsteinmetz commented on #39
This is in PR #97

[2018-10-24 22:45] natsteinmetz commented on #40
This cannot be replicated anymore, closing it.

[2018-10-24 22:45] #40 closed

[2018-10-24 22:51] natsteinmetz commented on #53
Once screenspace gets reduced, the left sidebar with categories disappears, and the categories appear on top. Instead, create a hamburger dropdown for the categories in that case.

[2018-10-24 23:05] natsteinmetz commented on #49
As of right now the pop up doesn't appear anymore on scroll. We'll need to think about what we want to happen on mobile, or rather: do we want the hover info to be visible?

[2018-10-24 23:11] natsteinmetz opened #120 "Add Brenda Stensland to /team page"

[2018-10-24 23:21] natsteinmetz opened #121 "Change Miki's title on the /team page"
Change Miki Hobgood's title to 'Leadership Team'.

[2018-10-24 23:30] natsteinmetz opened #122 "Add a section with Testimonials to the front page."
Add testimonials to the front page. This should appear below the Mentorship section.

Testimonial: consists of one picture, a paragraph of text, a name and title (to be taken from [http://techwomenrising.org/2018/assets/TWR2018-SponsorOptions.pdf](http://techwomenrising.org/2018/assets/TWR2018-SponsorOptions.pdf)).

Navigation: One testimonial should be visible at a time, with a small arrow on eac

[2018-10-24 23:37] natsteinmetz opened #123 "Add Porsha Robinson to /team page as contributor"
Name: Porsha Robinson
Picture: attached
Title: Contributor
Bio: Porsha is a Software Engineer with a background in Computer Networking and Information Systems Security. Coding is her passion and she is an advocate for getting more women into STEM.

label: teamUpdate, small

assignee:

![porsha_robinson](https://user-images.githubusercontent.com/3076388/47467414-1feff880-d7ab-11e8-94b5-d240add24ade

[2018-10-24 23:45] natsteinmetz opened #124 "Add cookie consent to website"
Add a cookie consent to the website. Make sure the cookie consent does not reappear every time a person visits the site. Feel free to use a [JavaSript plugin like this](http://techwomenrising.org/2018/assets/TWR2018-SponsorOptions.pdf), and style it in the colors of our website. The color codes can be found on the application.css file.

[2018-10-24 23:55] natsteinmetz opened #125 "Add Rey Dekker to /team page"
Name: Rey Dekker
Picture: TBD
Title: Event host & coding coach
Bio: TBD

[2018-10-25 00:00] natsteinmetz opened #126 "Add jslint or jshint to ensure JavaScript code quality"

[2018-10-25 00:04] natsteinmetz opened #127 "Upgrade to ruby latest (currently 2.3.1, latest is 2.5.3)"
The current stable version is 2.5.3.
- take a look at upgrade path
- check for version conflicts in dependencies
- if no serious problems, upgrade ruby
- run tests and do manual regression test to make sure nothing is broken
- update readme

[2018-10-25 00:05] AttackTheMak29 commented on #120
@natsteinmetz - i'm working on this issue now. i wanted to check to verify that the company name is correct as Startucks in the first sentence. i was unable to find a public company by this name. let me know. :)

[2018-10-25 00:06] natsteinmetz opened #128 "Upgrade to rails latest (currently 4.1.7, latest is 5.2.1)"
!!! dependent on Issue #127 !!!

- take a look at upgrade path
- check for version conflicts in dependencies
- if no serious problems, upgrade rails
- run tests and do manual regression test to make sure nothing is broken)
- update readme

[2018-10-25 00:13] gfranco93 commented on #126
I'm on it!

[2018-10-25 00:20] cherchezlafemme commented on #120
@AttackTheMak29 you are correct, the company name is Starbucks, there is a typo in bio. Thank you for checking! You will also need a link to Brenda's linkedin to complete this task. The link is: https://www.linkedin.com/in/brendastensland/
Here is a link to a better quality image too: https://media.licdn.com/dms/image/C5603AQH-PKj_IZvQyQ/profile-displayphoto-shrink_800_800/0?e=1545868800&v=beta&t=

[2018-10-25 00:24] natsteinmetz opened #129 "Rspec: Test tag functionality"
Make sure that when the user clicks on a tag, only resources tagged with that specific tag are shown.

Using RSpec for testing.

[2018-10-25 00:28] natsteinmetz opened #131 "Rspec: Test 'Like' functionality."
When a user presses the 'heart' icon within a resource panel, the count goes up by one. If they press it again, the count goes down by one.

For now this is cookie based, so technically a user can still like a resource multiple times by clearing cookies, switching browsers, etc. This is a known restriction.

[2018-10-25 00:31] natsteinmetz commented on #131
This will be part of PR #87, assigned to @probinson2015

[2018-10-25 00:46] AttackTheMak29 commented on #120
i've committed the changes. this is my first issue-specific commit, so let me know if i missed the correct way to do this. thank you!

[2018-10-25 01:25] natsteinmetz opened #133 "Add available volunteer positions section with descriptions to volunteers page."
Use deck from slack with description and titles. Link to from volunteer page. Ask for the deck, please.

[2018-10-25 02:31] PatriziaT commented on #121
Can I pick this one up?

[2018-10-25 02:33] SeattleSQAMeetup commented on #131
will test on site. Brenda Stensland

[2018-10-25 02:36] marshallhelenm commented on #123
I'll work on this one.

[2018-10-25 02:36] SeattleSQAMeetup commented on #131
tested on site; confirmed click or double click will +1.
also deleted cookies and confirmed +1 stayed

[2018-10-25 02:36] nurmerey commented on #125
I can take this one 😄 @natsteinmetz

[2018-10-25 02:38] booellean commented on #49
I will take this on

[2018-10-25 02:44] kellim commented on #122
Can I work on this one @natsteinmetz?

[2018-10-25 02:44] cherchezlafemme commented on #122
@kellim yes please do!

[2018-10-25 02:49] SeattleSQAMeetup commented on #131
still needs Rspec test cases added. if someone wants to pick up .

[2018-10-25 02:54] kellim commented on #122
Do we want the pictures of the person giving the testimonial from the pdf to be in it? If so, how can I get those pictures?

[2018-10-25 03:01] adriennelim commented on #133
I'll try to work on this.

[2018-10-25 03:37] npeters5 commented on #124
I can pick this up!

[2018-10-25 03:41] npeters5 commented on #31
I can attempt this!

[2018-10-25 03:50] Elenaires commented on #53
I will look into this :)

[2018-10-25 05:17] npeters5 commented on #124
@natsteinmetz I think the link to the Javascript plugin above might be wrong - just brings me to shescoding website. I'll try to pick a reliable plugin or gem for this unless you had a preference?

[2018-10-25 07:34] natsteinmetz commented on #124
Oh, I'm so sorry, @npeters5 , that's the wrong link! I updated it to the correct plugin. But feel free to evaluate it, and potentially choose another one or a gem. Thank you!

[2018-10-25 07:37] natsteinmetz commented on #122
Yes, we do :) I'll post them to you on Slack, thanks for asking, @kellim

[2018-10-25 07:45] natsteinmetz commented on #133
Ok, thanks @adriennelim :)

[2018-10-25 07:47] natsteinmetz commented on #131
Thanks for testing, @SeattleSQAMeetup - @probinson2015 is adding the tests. :)

[2018-10-25 07:48] natsteinmetz commented on #49
Thanks, @booellean :)

[2018-10-25 07:49] natsteinmetz commented on #125
Thanks @nurmerey 😄

[2018-10-25 07:50] natsteinmetz commented on #123
Thanks, @marshallhelenm :)

[2018-10-25 18:18] cherchezlafemme commented on #121
merged to master 10/25/18

[2018-10-25 18:18] #121 closed

[2018-10-25 18:30] adriennelim opened #136 ""Tech Women Rising" conference link not visible unless hovered over"
**Describe the bug**
"Tech Women Rising" conference link in Volunteer page font color is white, which is the same as background color so not visible unless hovered over.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shescoding.org/volunteer
2. Look at 5th bullet point for Tech Women Rising conference
3. Hover over whitespace and see link in green font
4. See error

**Expected

[2018-10-25 18:32] adriennelim commented on #136
I'll work on fixing this.

[2018-10-25 19:46] natsteinmetz commented on #136
Sounds good, thanks @adriennelim :)

[2018-10-25 21:32] Elenaires commented on #53
This is what I have got so far:

When screen size is reduced
![image](https://user-images.githubusercontent.com/16939909/47531065-5a1bd180-d861-11e8-947d-95202790ebda.png)

When dropdown button is clicked
![image](https://user-images.githubusercontent.com/16939909/47531130-87687f80-d861-11e8-83c8-494ceba1e912.png)

Does it look all right?

I also ran tests with RSpec Rails:
![image](https://user-i

[2018-10-25 22:13] cherchezlafemme opened #137 "Add Patrizia's description to the Team page"
Add text to the tooltip under Patrizia's name to appear on https://shescoding.org/team

[2018-10-25 22:15] PatriziaT commented on #137
I will take this one ;)

[2018-10-25 23:36] natsteinmetz commented on #53
Hi @Elenaires - I have not yet had a chance to try it out. But from the visual point of view, could you align the dropdown button on the left instead of having it centered?

Regarding the ests, you did not add any tests, and didn't touch anything that was tested, so yeah, this looks allright. :)

[2018-10-25 23:54] Elenaires commented on #53
Sure @natsteinmetz , will do that.

[2018-10-25 23:56] natsteinmetz opened #139 "Add Aeone Singson to /team page"
Name: Aeone Singson
Picture: attached
LinkedIn URL: https://www.linkedin.com/in/aeone/
Title: Seattle Chapter Lead
Bio: Software engineer at Microsoft through the apprentice pathway. Very passionate about spreading technology and education access.

![aeone](https://user-images.githubusercontent.com/3076388/47536736-bb9a6b00-d876-11e8-81e8-2de0bbe799b0.jpeg)

[2018-10-26 00:00] natsteinmetz opened #140 "Add Kelli Blalock to /team page"
Name: Kelli Blalock
Picture: TBD
LinkedIn URL: https://www.linkedin.com/in/kelliblalock/
Title: Social Media & Contributor
Bio: TBD

[2018-10-26 02:10] Elenaires commented on #53
I have aligned the dropdown button to the left and submitted my pull request. This is my first time contributing to open source so please let me know if there is anything that I could do better. Thanks. ;)

[2018-10-26 02:36] Elenaires commented on #139
I will work on this. :)

[2018-10-26 06:04] natsteinmetz opened #142 "Newsletter signup form to website"
Add a newsletter signup form to the front page: right side bar, above the 'Purpose' section.

Mailchimp embeddable code:

<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site styleshe

[2018-10-26 06:29] lau626 commented on #142
hi can i take this?

[2018-10-26 06:30] natsteinmetz commented on #142
Yes, all yours. Thank you!

[2018-10-26 06:36] natsteinmetz opened #143 "Add Tech Women Rising ad image to front page"
- [ ] Move the current images (she, ally, company) underneath the Community section.
- [ ] Add the attached image above Community instead.
- [ ] Have the image link to [Tech Women Rising](http://techwomenrising.org/)

![twr-june2019-ad](https://user-images.githubusercontent.com/3076388/47548724-bc4ef380-d8ae-11e8-83b1-9f89874801f2.jpg)

[2018-10-26 06:49] Jayadev6191 commented on #143
Can I take this! ? 😀

[2018-10-26 07:00] natsteinmetz commented on #143
Yup, all yours. Thanks!

[2018-10-26 07:59] lau626 commented on #142
Hi, I created a pull request: https://github.com/shescoding/shescoding-dot-org/pull/144

Could you review? I actually had some questions:

1. Do you already have a mailchimp account? I created a new one, but maybe you have one already?
2. Wasn't sure what other fields you wanted, so just added email for now.

Thanks!

[2018-10-26 21:00] adriennelim opened #145 "Resources Page Typo"
**Describe the bug**
Typo on Resources Page for "Hello Ruby"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shescoding.org/resources
2. Find "Hello Ruby" panel
3. See error

**Expected behavior**
Fix typo in resource excerpt. Just remove the first three words: "Hello Rubu is.."

**Screenshots**
![image](https://user-images.githubusercontent.com/40710985/47592167-ff4cad80-d926-

[2018-10-26 21:02] adriennelim commented on #145
I would like to fix this one!

[2018-10-26 21:33] natsteinmetz commented on #145
Hi @adriennelim :) Thanks for submitting this bug! Unfortunately this cannot easily be fixed at this point, as it requires an update in the resources-content. We are currently updating the resources via the seed file, which is very suboptimal. If it's ok with you, I'll assign it to myself, as I have other resource-content related updates to do and then deploy the new and updated resources.

[2018-10-26 22:47] adriennelim commented on #145
Thanks, Natalie!

[2018-10-26 23:00] natsteinmetz opened #146 "Add privacy policy"
Add a page with a privacy policy. Link to it from the footer.

Possibly also create terms of use ?

Example policies;
- https://www.droidhood.org/privacy/
- https://alistapart.com/about/privacy-policy
- https://anitab.org/privacy-policy/
- https://anitab.org/terms-of-use/

[2018-10-27 16:33] cherchezlafemme commented on #139
@Elenaires left comments on PR: https://github.com/shescoding/shescoding-dot-org/pull/141 Your code looks good, we just need to make sure that your PR includes only the changes for this issue so that we can go ahead and bring them into master. Thank you!

[2018-10-27 17:44] cherchezlafemme opened #148 "Add jshint to the readme documentation."
Add information on how to run jshint locally. Add a note that any contributor that makes changes to javascript files or adds new, needs to run jshint.

To run linter:` bundle exec rake jshint`

Based on:
https://github.com/shescoding/shescoding-dot-org/pull/134
https://github.com/damian/jshint

[2018-10-27 17:51] cherchezlafemme commented on #126
Merged to master on 10/27/2018

[2018-10-27 17:51] #126 closed

[2018-10-27 18:08] cherchezlafemme commented on #136
Merged to master on 10/27/2018

[2018-10-27 18:08] #136 closed

[2018-10-27 18:32] cherchezlafemme commented on #139
Merged to master on 10/27/2018

[2018-10-27 18:32] #139 closed

[2018-10-27 18:39] adriennelim commented on #95
Hello! Looks like the Caltech link doesn't work anymore. If you would like to continue listing this resource, you could use this link to the pdf here:
https://canvas.fau.edu/courses/36616/files/2157374/

[2018-10-27 19:51] kellim commented on #140
Thanks, I'd like to do this one 😃

[2018-10-27 19:55] natsteinmetz commented on #140
Go for it, @kellim 🙂

[2018-10-28 19:38] cherchezlafemme commented on #53
Merged to master 10/28/2018. PR: https://github.com/shescoding/shescoding-dot-org/pull/138

[2018-10-28 19:38] #53 closed

[2018-10-28 19:58] adriennelim opened #152 "Additions/Edits to make README.md more beginner-friendly"
Whilst the current README.md guide provided a lot of good info, I encountered several issues while following the step by step guide. Following a brief discussion with Anya, here is a list of improvement opportunities identified:

a) Add step to cd into local forked repo before proceeding to next installation steps.

b) Add note to explain that if already running a newer version of Ruby and there m

[2018-10-28 20:03] adriennelim commented on #152
Related issue: [#148](https://github.com/shescoding/shescoding-dot-org/issues/148) Add jshint.

[2018-10-28 20:37] cherchezlafemme commented on #152
We need to define the new updated structure of readme here, before starting to work on this. Let's start with this as a draft:
- About she's coding **_(exist already)_**
- Environment set up (that will include installation steps for package managers, ruby + rails) - **_(need work, some exist, need new information)_**
  - need to add a step to see what you already have. before starting to install t

[2018-10-28 22:29] Elenaires commented on #152
Nice work @adriennelim and @cherchezlafemme !
I have a question about setting up our local repo.
In README.md, the instruction says to clone the repository by
``` git clone https://github.com/shescoding/shescoding-dot-org.git ```
However, if I do that, I will not be able to push my changes to it i.e. doing
``` git push origin <branchname> ```
will result in an error
"fatal: unable to access 'https

[2018-10-28 23:21] Elenaires opened #153 "Inconsistent navbar height"
**Describe the bug**
When the screen size is between 758px to 849px, the navbar appears larger.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shescoding.org
2. Resize the screen horizontally and watch the navbar height changes.

**Expected behavior**
navbar appears larger when screen size is at 768px to 849px (horizontally)

**Screenshots**
When screen size is between 768 - 8

[2018-10-29 11:39] lena-pl commented on #148
https://github.com/shescoding/shescoding-dot-org/pull/154

[2018-10-29 15:56] cherchezlafemme commented on #153
Verified, this is a bug. needs to be addressed. @Elenaires thank you for reporting!

[2018-10-29 16:05] cherchezlafemme commented on #148
Merged to master on 10/29/2018.

[2018-10-29 16:05] #148 closed

[2018-10-29 16:06] cherchezlafemme commented on #148
@lena-pl thank you for your help!

[2018-10-29 20:14] booellean commented on #33
Hey everyone, I wanted to give you an update. Hopefully this will help people in the future.

I've been having a heck of time with postgres and creating a database for the app. After some hours of debugging, I found I am not able to create a database because the dualboot I am using to run Ubuntu from a chromebook is preventing postgres commands from executing.

In short, postgres has very limited

[2018-10-29 20:15] booellean commented on #49
Hey everyone, I wanted to give you an update. Hopefully this will help people in the future.

I've been having a heck of time with postgres and creating a database for the app. After some hours of debugging, I found I am not able to create a database because the dualboot I am using to run Ubuntu from a chromebook is preventing postgres commands from executing.

In short, postgres has very limited

[2018-10-30 00:00] cherchezlafemme commented on #152
Need to include information on "How to name a PR" and "What to put in description of PR" + "How to reference the issue the PR is addressing".

[2018-10-30 20:22] booellean commented on #49
Hey everyone, I have a request.

I've added the necessary changes to make team info static on the page and not "pop up" with a touch event scroll. However, I could only test this in my files because, despite my best efforts, I am unable to run a development application. It appears that ubuntu and ubuntu on windows have some error with the pg gem that's causing issues and I was unable to find a fix

[2018-10-31 06:05] ckhung5 commented on #153
@cherchezlafemme I fix it.. I will put a pull request :)

[2018-11-02 04:31] #54 closed

[2018-11-02 04:31] cherchezlafemme commented on #54
merged to master on 11/1/18

[2018-11-03 15:59] marshallhelenm commented on #123
I'm really sorry things came up and I am unable to complete this! Someone please change it back to open so that someone else can take care of it. Thanks for everything!

[2018-11-03 18:34] cherchezlafemme commented on #123
No problem @marshallhelenm Thank you so much for letting us know!

[2018-11-03 19:03] cherchezlafemme commented on #153
Addressed by PR: https://github.com/shescoding/shescoding-dot-org/pull/158
Merged to master on 11/3/2018
thank you @ckhung5 for you help!

[2018-11-03 19:03] #153 closed

[2018-11-03 19:07] cherchezlafemme commented on #49
@booellean what is the branch name? I don't see any recent branches in your forked repo.

[2018-11-03 19:59] cherchezlafemme commented on #129
Merged to master on 11/2/2018, PR https://github.com/shescoding/shescoding-dot-org/pull/159

[2018-11-03 19:59] #129 closed

[2018-11-03 20:12] cherchezlafemme commented on #143
@Jayadev6191 any updates on this issue? Let me know if you need any help. Thanks!

[2018-11-03 20:17] cherchezlafemme commented on #33
@natsteinmetz can you provide more details? I am not sure I can replicate the issue.

[2018-11-03 20:24] cherchezlafemme opened #161 "Reorder team members on /team page."
**Reorder the team members on https://shescoding.org/team
 page to show up in the following order:**
_(first row)_
Nathalie Steinmetz
Miki Hobgood
Anna Krupp
Brenda Stensland
_(second row)_
Aeone Singson
Patrizia Trammell
Liya Kurkov
You

[2018-11-08 22:16] kellim commented on #122
Can we make both testimonials the same size and put a link to "more"?

The two testimonials being different sizes is presenting problems with the content under it shifting when switching between testimonials, and you can use JS to make the smaller one the size of the larger one, but it won't work responsively with the Bootstrap 3 carousel.

If that is ok, how about having the testimonial expand to

[2018-11-26 02:09] kellim commented on #122
I was able to get this to work without cutting testimonials off as limiting testimonials to a certain amount of characters wouldn't guarantee they are the same amount of lines and JS would still be needed.

[2018-11-27 03:44] kellim commented on #161
@cherchezlafemme I'm adding myself to the /team page for issue #140, so can I do this issue at the same time and add myself last on the second row and then "You" would be by itself on the third row for now?

[2018-11-27 04:02] kellim opened #163 "Stray a tag on front page"
There's a stray closing `</a>` tag on the site under the "What's New" section.

[code]

I'd be happy to fix this, or if someone is updating the What's New content soon they could fix it then.

[2018-11-28 22:46] cherchezlafemme commented on #163
@kellim you can open a PR. just create a new feature branch of master so that we can merge it separately and open a PR to remove the not needed tag. Thank you!

[2018-11-28 22:49] cherchezlafemme commented on #161
@kellim that sounds great! can you also remove Patrizia Trammell? she is not longer in Tacoma so that info is outdated. So we can have on the team page:
(first row)
Nathalie Steinmetz
Miki Hobgood
Anna Krupp
Aeone Singson
(second row)
Brenda Stensland
Liya Kurkov
Kelli Blalock
You

[2018-11-28 22:51] cherchezlafemme commented on #143
@Jayadev6191 if you can't work on this issue, that's ok. just let us know. If I won't hear from you this week, I will open up this issue for others to grab. Thanks!

[2018-11-29 19:58] kellim commented on #163
Will do, thanks!

[2018-11-29 19:59] kellim commented on #161
Sure, happy to do so, thanks!

[2018-11-29 20:47] kellim commented on #123
Oops, I'd moved this by mistake so I moved it back.

[2018-11-30 19:14] #163 closed

[2018-11-30 19:22] cherchezlafemme commented on #137
No longer relevant. Closing as `won't do`.

[2018-11-30 19:22] #137 closed

[2018-11-30 22:47] #161 closed

[2018-11-30 22:50] cherchezlafemme commented on #140
merged to master Nov 30th.

[2018-11-30 22:50] #140 closed

[2018-11-30 22:55] cherchezlafemme commented on #143
I think it's safe to say this is open for grabs.

[2018-11-30 22:57] cherchezlafemme commented on #31
@npeters5 any updates on this issue? Let us know if you need any help. Thank you!

[2018-11-30 22:58] cherchezlafemme commented on #49
@booellean can you add a link here to what's the branch you have the suggested changes?

[2018-12-02 00:06] cherchezlafemme commented on #122
Merged to master on Dec 1 2018

[2018-12-02 00:06] #122 closed

[2018-12-04 05:11] booellean commented on #49
Hello @cherchezlafemme and @natsteinmetz

I was able to get a Windows development environment running and I tested this branch. It 100% works and will allow users to read the user tooltip (since it no longer appears on hover) info, but only if they use their touch screens (visible positioning in the DOM)

https://github.com/booellean/shescoding-dot-org/tree/mobile-touch-data

Question for the both

[2018-12-04 06:18] cherchezlafemme commented on #49
@booellean yes, please open a PR with suggested updates to readme (from a different separate branch will be best, so that we can merge things independently). Better readme would be amazing.
I will look over PR as soon as I have some time :) thank you for your contributions!

[2018-12-09 21:37] cherchezlafemme commented on #123
this update is part o PR https://github.com/shescoding/shescoding-dot-org/pull/166

[2018-12-11 16:12] cherchezlafemme commented on #123
Merged to master 12/10/2018.

[2018-12-11 16:12] #123 closed

[2018-12-12 23:01] kellim opened #170 "Links in "YOU?" tooltip on team page disappear in Firefox upon hovering"
**Describe the bug**

When viewing the team page with Firefox, links on the tooltips popup for the "You?" entry with the kitten image disappear when hovered over. (The kitten is the only "team member" with links in the tooltip)

**To Reproduce**

Steps to reproduce the behavior:
1. Go to http://shescoding.org/team using Firefox
2. Hover over image of kitten with "YOU?" under it
3. Hover over links

[2018-12-12 23:03] kellim commented on #170
@cherchezlafemme I'd like to work on this issue I found and try to figure it out.

[2018-12-12 23:23] kellim commented on #170
After submitting this issue, I also found another issue in Firefox only that seems related where if you double click (or sometimes just click once) on text within a tooltip for a team member, the line of text clicked on disappears. It seems like this could be related to the issue where links are disappearing upon hovering, but should a separate issue be created for this additional issue?

![firefo

[2018-12-14 17:54] cherchezlafemme commented on #170
@kellim thank you for reporting this! and yes, please, you can work on this issue :) we appreciate all you help!

[2018-12-26 22:46] cherchezlafemme opened #172 "Update "What's new?!" section on front page for 2019."
Need to update the section on homepage to include relevant for 2019 content.

[2019-01-13 22:43] cherchezlafemme commented on #152
no problem @adriennelim thank you so much for letting us know! ❤️

[2019-01-13 22:43] cherchezlafemme commented on #133
no problem @adriennelim thank you so much for letting us know! ❤️

[2019-01-14 01:33] cherchezlafemme commented on #125
@nurmerey this is still open, we would love to have you added to the team page ❤️ Please, comment if you will have time to do this or you can provide needed assets/content and may be someone else can take this on. Thank you!

[2019-01-14 01:49] ksmith10309 commented on #133
I would like to work on this :)

[2019-01-14 06:58] nurmerey commented on #125
My apologies got super duper busy. I agree, let me supply assets and unblock this task for someone else. Unfortunately, I'm blocked till March! 🙈

[2019-01-15 20:36] cherchezlafemme commented on #172
merged to master on 01/15/2019

[2019-01-17 05:06] cherchezlafemme commented on #49
addressed by https://github.com/shescoding/shescoding-dot-org/pull/173
merged to master 01/16/19

[2019-01-17 05:06] #49 closed

[2019-01-17 18:50] natsteinmetz commented on #49
@booellean I can't agree more - thanks for offering to edit the Readme to include setting up a Windows 10 environment. I think that will be of great help to a lot of people!

[2019-01-17 23:37] booellean commented on #49
Thank you @natsteinmetz ^_^

[2019-01-20 21:04] cherchezlafemme commented on #127
merged to master on 01/20/19

[2019-01-20 21:04] #127 closed

[2019-01-20 21:05] cherchezlafemme commented on #128
merged to master on 01/20/19

[2019-01-20 21:05] #128 closed

[2019-01-21 00:03] cherchezlafemme commented on #133
merged to master 01/20/19

[2019-01-21 00:03] #133 closed

[2019-01-23 05:39] kellim opened #177 "Unable to navigate through testimonials with arrow buttons"
**Describe the bug**

I'm not able to advance to the next or previous testimonials using the arrow buttons.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to http://shescoding.org/
2. Click one of the arrow buttons on the side of the testimonial text

**Expected behavior**

It should advance to the next or previous testimonial

**Desktop (please complete the following information):**
 -

[2019-01-23 05:43] kellim commented on #177
Hi @natsteinmetz It looks like this issue is occurring after you moved the `carousel-testimonials` id to the section tag in this commit: https://github.com/shescoding/shescoding-dot-org/commit/c295aed89b01abf247aa5e77cc9f802acf4cbb69#diff-9f4c14a425b4babfaee8d50d699cee8e

If I move the id back to where it was in dev tools, it works again. Can I go ahead and move the id back to where it was to fix

[2019-01-23 06:10] kellim commented on #177
It looks like the `carousel-testimonials` id was moved to the section tag in order to link to the testimonials section from "What's New?" in the sidebar, so could I actually create a separate ID for that and update the link, then also move the ID for the carousel back?

[2019-01-23 19:49] natsteinmetz commented on #177
Hi @kellim - ah, I didn't try the arrows after the change I made - my bad! And yeah, totally, thanks in advance for fixing it and adding an id that we can link to. 👍

[2019-04-01 03:11] #170 closed

[2019-04-01 03:24] cherchezlafemme commented on #125
@nurmerey can you provide a picture?

[2019-10-03 22:47] kellim opened #182 "Typos on Volunteer page"
I found some typos on the volunteer page at http://shescoding.org/volunteer

Here are the issues with my suggested solutions:

Under **Events** > **Code-a-thon Organizer** - Update "Set up 2-month schedule (kick-off, wid-way, demo day)" to say "mid-way" instead of "wid-way"

Under **Open Source Development** > **Engineering Manager** - change "Make sure project master is in healthy state" to "Make

[2019-10-03 22:48] kellim commented on #182
@natsteinmetz Can you please confirm these should be fixed. I'm pretty sure the first two should, but maybe the "Do" is intentional in the third one?

[2021-06-08 04:35] misurac opened #199 "Website down - 502 Bad Gateway"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://shescoding.org/
2. See Error

**Expected behavior**
I expected to find the She's Coding website

**Screenshots**
![image](https://user-images.githubusercontent.com/72106662/121123459-1b4fa580-c7d8-11eb-9e8c-215993c92b7f.png)

**Desktop (please complete the fol